
Django==4.1.7
django-cors-headers==3.3.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
drf-yasg==1.20.0
mysqlclient==2.1.0
requests==2.27.1
django-request-logging==0.7.5
django-silk==4.3.0
django-dotenv==1.4.2
hvac[parser]==0.11.2
daphne==3.0.2

Brotli==1.0.7
chardet==3.0.4
django-admin-autocomplete-filter==0.7.1
django-admin-list-filter-dropdown==1.0.3
django-health-check==3.12.1
future==0.18.2
PyYAML==6.0
whitenoise==5.1.0
geopy==2.2.0
