name: Docker Image CI

on:
  release:
    types: [published]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: Get the version
      id: vars
      run: echo ::set-output name=tag::$(echo ${GITHUB_REF:10})
    - name: Build the tagged Docker image
      run: docker build . --file Dockerfile --tag yesalam/django-bjoern-whitenoise:${{ steps.vars.outputs.tag }}
    - name: Build the tagged Docker image with shaply
      run: docker build . --file Dockerfile_Staff --tag yesalam/bjoern-whitenoise-shaply:${{ steps.vars.outputs.tag }}
    - name: Push the tagged Docker image
      run: docker push yesalam/django-bjoern-whitenoise:${{ steps.vars.outputs.tag }}
    - name: Push the tagged Docker image with shaply
      run: docker push yesalam/bjoern-whitenoise-shaply:${{ steps.vars.outputs.tag }}
